.faq_container {
    max-width: 1600px;
    padding: 40px 80px;
    background-color: #1e1f27;
    color: #FFF;
}
.title {
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
    margin: 70px 0;
}
@media(max-width:700px) {
    .faq_container {
        padding: 40px 20px;
    }
}